
/* =-=-=-=-=-=-= General =-=-=-=-=-=-= */

body{
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}

html,
body {
    width: 100%;
    height: 100%;
}


/* Link style
/* ------------------------------ */
a {
    color: #232ed1;
    line-height: 20px;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #13205b;
    outline: none;
    text-decoration: none;
}


/* Transition elements
/* ------------------------------ */
.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}

a, .btn{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/* Reset box-shadow
/* ------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}


button:focus {
    outline: none !important;
}

/* =-=-=-=-=-=-= Image =-=-=-=-=-=-= */
img {
    width:100%;
    max-width: 100%;
}

/* =-=-=-=-=-=-= Typography =-=-=-=-=-=-= */


h1, h2, h3, h4, h5, h6{
    font-weight: 400;
    margin: 0 0 15px;
    color: #202020;
}

h1 {
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
    line-height: 25px
}

h4 {
    font-size: 18px;
    line-height: 20px}

h5 {

}

h6 {

}

blockquote {
    padding: 20px 20px 20px 60px;
    font-size: 16px;
    color: #969595;
    border-left: 0;
    border: 1px solid #eee;
    position: relative;
    margin: 0;
}

blockquote::before {
    position: absolute;
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 30px;
    color: #eee;
    left: 15px;
    top: 25px;
}
 input{
     outline:none;
 }

/* Button
/* ------------------------------ */
.btn {
    padding: 14px 45px;
	border-radius: 0;
}

.btn-primary {
    background-color: #34495e;
    border-color: #34495e;
}
.btn-primary:hover {
    background-color: #13205b;
    border-color: #13205b;
}

.btn:focus,
button:focus {
    outline: none !important;
}


/* =-=-=-=-=-=-= List Style =-=-=-=-=-=-= */

ul {
    margin:0;
    padding:0;
    list-style: none;
}

.unorder-list {
    list-style: inherit;
}




/* Form Style
/* ------------------------------ */
.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 60px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
    color: #202020;
    border: 1px solid #eee;
    border-radius: 0;
}
.form-control:focus {
    border-color: #13205b;
}


/* =-=-=-=-=-=-= Global Style =-=-=-=-=-=-= */

.section-padding {
    padding: 70px 0;
}

.section-title {
    font-size: 40px;
    line-height: 30px;
    color: #13205b;
    margin-bottom: 25px;
    text-transform: uppercase;
	font-weight: 700;
}
.sub-title {
    margin: 0;
    line-height: 25px;
	color:#999999;
}

/*custom margin classes*/

/*margin top*/
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-100 {
    margin-top: 100px;
}

/*margin bottom*/
.mb-30 {
    margin-bottom: 30px;
}
.mb-80 {
    margin-bottom: 80px;
}

/*custom padding classes*/

.no-padding {
    padding: 0!important;
}

/*padding-bottom*/
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}

/*padding top bottom*/
.ptb-20 {
    padding: 20px 0;
}
.ptb-50 {
    padding: 50px 0;
}
.ptb-90 {
    padding: 90px 0;
}
header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    background:#fff;
}
header .logo-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}
header .nav-box{
    display:flex;
    height:100%;
    justify-content:center;
    align-items:center;
    padding-bottom: 0px;
}
header ul.nav li.nav-item a.nav-link {
    display: block;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight:500;
    color: rgb(54, 54, 54);
    line-height: 20px;
    text-align: left;
    padding: 5px 10px;
}
header .right-side-nav{
    margin: 0 -15px;
}
header .right-side-nav p{
    border-bottom-left-radius:25px;
    overflow:hidden;
    margin: 0;
}
header .right-side-nav p label{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.813;
    text-align: left;
    background:#0018f8;
    display:block;
    text-align:center;
    padding:10px 0;
    margin:0;
}
header .right-side-nav p a{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.813;
    text-align: left;
    background:#0018f8;
    display:block;
    text-align:center;
    background:#0011b0;
    padding:5px 0;
    text-decoration:none;
}
section.hero{
    background: url(../images/hero-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 150px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden!important;
    margin: 0 -15px;
    border: 15px solid #d7d7d7;
    border-top: 0;
}
section.hero .container {
    position: relative;
}
section.hero .heading{
    display:flex;
    justify-content:center;
    align-items:center;
}
section.hero .heading h3 {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.225;
    margin: auto;
    display:inline-block;
}
section.hero .heading h3:after,
section.hero .heading h3:before {
    position:absolute;
    content:'';
    top:0;
    bottom:0;
    margin:auto;
    height:5px;
    width:50px;
    background:#fff;
    right:calc(100% + 10px);
}
section.hero .heading h3:before{
    left:calc(100% + 10px);
    right:unset;
}
section.hero .filter-main-box {
    background: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 50px 30px;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 390px;
}
section.hero .filter-main-box .heading{
    display:block;
}
section.hero .filter-main-box .heading h4 {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.188;
    text-align: left;
    margin:0;
}
section.hero .filter-main-box .filter-fields {
    display: flex;
    flex-wrap: wrap;
}
section.hero .filter-main-box .filter-fields .field-box {
    width: 21.5%;
    border:1px solid #000;
    position: relative;;
    border-right:none;
}
section.hero .filter-main-box .filter-fields .field-box.select:before {
    position: absolute;
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    right: 10px;
    font-size: 12px;
    font-weight: 900;
    height: 12px;
    line-height: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
}
section.hero .filter-main-box .filter-fields .field-box:first-child {
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
}
section.hero .filter-main-box .filter-fields .field-box:last-child {
    border: 1px solid #0018f8;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    width: 14%;
}
section.hero .filter-main-box .filter-fields .field-box input,
section.hero .filter-main-box .filter-fields .field-box select {
    width: 100%;
    padding: 15px 10px;
    font-size: 12px;
    border:none;
    background:transparent;
    font-family: "Montserrat";
    outline:none;
    color: rgb(54, 54, 54);
    line-height: 1;
    cursor:pointer;
    height:50px;
    text-align: left;
}
section.hero .filter-main-box .filter-fields .field-box select {
    -webkit-appearance: none;
}
section.hero .filter-main-box .filter-fields .field-box button{
    width:100%;
    height:100%;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0018f8;
    cursor:pointer;
    color:#fff;
}
section.hero .filter-main-box .advance-cta a{
    font-size: 14px;
    font-family: "Montserrat";
    font-weight:600;
    display:block;
    color: rgb(0, 24, 248);
    line-height: 1;
    padding:10px 5px;
}
section.what-drive-us {
    padding: 80px 0 30px;
    position: relative;
    overflow: hidden;
}
section.what-drive-us:before{
    position: absolute;
    content: '';
    background: url(../images/what-drives-us-sect-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 550px;
    height: 500px;
    right: -200px;
    bottom: 150px;
}
section.what-drive-us .addvertisment-box {
    margin-bottom: 15px;
}
section.what-drive-us .desc h3{
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin:0;
    margin-bottom:30px;
}
section.what-drive-us .desc p{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1.714;
    text-align: left;
}
section.what-drive-us .desc .cta-box a{
    background-color: rgb(54, 54, 54);
    border-radius:25px;
    padding: 15px 35px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 3.286;
    transition:ease all 0.25s;
}
section.what-drive-us .desc .cta-box a:hover{
    background:rgb(0 24 248);
}

section.what-drive-us .truck-img-box{
    float: right!important;
    margin: auto;
    margin-right: 0;
    margin-top: -320px;
}
section.sale-purchase {
    padding: 0 15px 50px;
}
section.sale-purchase .divider {
    display: flex;
}
section.sale-purchase .divider .buy-box,
section.sale-purchase .divider .sell-box {
    max-width: 50%;
    padding:50px;
}
section.sale-purchase .buy-box{
    background:url(../images/buy-bg.jpg);
    background-size:cover;
    border-bottom-left-radius:50px;
}
section.sale-purchase .sell-box{
    background-size:cover;
    border-top-right-radius:50px;
    background:url(../images/sell-bg.jpg);
}
section.sale-purchase .divider .desc h4 {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin:0;
    margin-bottom:5px;
}
section.sale-purchase .divider .desc h3 {
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin:0;
    margin-bottom:25px;
}
section.sale-purchase .divider .desc p{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1.714;
    text-align: left;
    max-width:90%;
    margin-bottom:30px;
}
section.sale-purchase .divider .desc .cta-box a{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 15px 35px;
    font-size: 14px;
    font-family: "Montserrat";
    border:1px solid #fff;
    color: rgb(54, 54, 54);
    line-height: 3.286;
    transition: ease all 0.25s;
}
section.sale-purchase .divider .buy-box .desc .cta-box a:hover{
    background:#0018f8;
    color: rgb(255, 255, 255);
}
section.sale-purchase .divider .sell-box .desc .cta-box a:hover{
    background: #61db4a;
    color: rgb(23 27 28);
}
section.featured-vehicles{
    padding:50px 0;
    background:url(../images/featured-vehicle-slider.jpg);
    background-size:cover;
    background-repeat:no-repeat;
}
section.featured-vehicles .head-desc {
    padding: 0 15px;
}
section.featured-vehicles .head-desc h3{
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    line-height: 1.318;
    text-align: left;
    margin:0;
}
section.featured-vehicles .head-desc h2{
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.906;
    text-align: left;
    margin:0;
    margin-bottom:30px;
}
section.featured-vehicles .addvertisment-box {
    margin-top: 15px;
}
section.featured-vehicles .featured-vehicle-slider .item {
    border-top-left-radius: 35px;
    overflow: hidden;
    margin:0 15px;
    outline:none;
}
section.featured-vehicles .featured-vehicle-slider .item .img-box img {
    width: 100%;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box {
    position: relative;
    padding:15px 0;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box .price-box h4 {
    margin: 0;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.333;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box .price-box {
    position: absolute;
    background: #0018f8;
    padding: 8px 10px 8px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    top: -25px;
    right: 0;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box .title-box{
    max-width:   80%;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box .title-box h3 {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.286;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box  .category-box,
section.featured-vehicles .featured-vehicle-slider .item .desc-box  .rating-box{
    display:inline-block;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box  .rating-box i {
    color:#d0d0d0;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box  .rating-box i.checked{
    color:#fbb637;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box .category-box h4 {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1;
    font-weight:600;
    text-align: left;
    margin-left:10px;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box ul li:nth-child(even){
    width:60%;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box ul li:nth-child(odd){
    width:40%;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box ul li p{
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1;
    font-weight:600;
}
section.featured-vehicles .featured-vehicle-slider .item .desc-box ul li p i.transimition  {
    width: 10px;
    height: 16px;
    background: url(../images/transmition-icon.png);
    display: inline-block;
    margin-bottom: -5px;
    background-repeat: no-repeat;
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow {
    font-size: 0;
    border: 1px solid #363636;
    background: #363636;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    position: absolute;
    top: -60px;
    right: 0;
    transition: ease all 0.25s;
    cursor:pointer;
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow.slick-prev {
    right: 55px;
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow:before{
    position: absolute;
    content: '\f054';
    font-size: 15px;
    font-family: 'Font Awesome 5 Free';
    z-index: 99;
    font-weight: 900;
    color: #fff;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: ease all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3px 3px 0 0;
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow.slick-prev:before {
    content:'\f053';
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow:hover {
    background: #ffffff;
    border-color: #ddd;
}
section.featured-vehicles .featured-vehicle-slider .slick-arrow:hover:before{
    color: #363636;
}
section.blogs-news {
    padding: 80px 0;
}
section.blogs-news .head-desc {
    padding-top: 30px;
}
section.blogs-news .head-desc h3{
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    line-height: 1.318;
    text-align: left;
    margin:0;
}
section.blogs-news .head-desc h2{
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.906;
    text-align: left;
    margin:0;
    margin-bottom:30px;
}
section.blogs-news .blogs-tabs ul.nav {
    border: none;
    margin-bottom: 15px;
}
section.blogs-news .blogs-tabs ul.nav li a {
    border: none!important;
    position: relative;
    font-size: 14px;
    font-family: "Montserrat";
    color:#d0d0d0;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    font-weight:600;
    padding: 10px 0;
    padding-left: 0;
    transition:ease all 0.25s;
}
section.blogs-news .blogs-tabs ul.nav li{
    position:relative;
    margin-right: 50px;
}
section.blogs-news .blogs-tabs ul.nav li:before {
    height: 40%;
    width: 2px;
    background: #d0d0d0;
    position: absolute;
    content: '';
    right: -25px;
    top: 0;
    bottom: 0;
    margin: auto;
}
section.blogs-news .blogs-tabs ul.nav li:last-child:before {
    display: none;
}
section.blogs-news .blogs-tabs ul.nav li a.active,
section.blogs-news .blogs-tabs ul.nav li a:hover{
    color: rgb(54, 54, 54);
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item {
    margin-bottom: 15px;
}

section.blogs-news .blogs-tabs .tab-content .tab-pane .item .img-box {
    border-top-left-radius: 35px;
    overflow: hidden;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc{
    position:relative;
    border:1px solid #ddd;
    margin-left:-15px;
    padding:15px;
    padding-top: 50px;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta {
    position:absolute;
    top:0;
    left:0;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background:#0018f8;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta{
    display:flex;
    padding:10px 15px;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta .posted-date h4,
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta .poster-name h3{
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 2;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta .poster-name h3{
    position:relative;
    padding-right:20px;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .post-meta .poster-name h3:before{
    position:absolute;
    content:'';
    right:10px;
    top:0;
    bottom:0;
    margin:auto;
    height:50%;
    width:1px;
    background:#fff;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .heading h3{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.286;
    text-align:left;
    margin-bottom:10px;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .content p{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1.714;
    text-align: left;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .item  .desc .cta-box a{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    text-decoration: underline;
    line-height: 1;
    text-align: left;
    font-weight:700;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .load-more-cta a{
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
    padding: 15px 35px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1;
    transition: ease all 0.25s;
    float: right;
}
section.blogs-news .blogs-tabs .tab-content .tab-pane .load-more-cta a:hover{
    background:rgb(0 24 248);
}
section.blogs-news .addvertisment-box {
    margin-top: 15px;
}
section.testimonials {
    padding: 80px 0;
    background: url(../images/testimonials-bg.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 60%;
}
section.testimonials .head-desc {
    margin: 0 15px;
}
section.testimonials .head-desc h3 {
    font-size: 22px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.318;
    text-align: left;
    margin:0;
}
section.testimonials .head-desc h2 {
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin-bottom:35px;
}
section.testimonials .testimonials-slider .slick-arrow {
    font-size: 0;
    border: 1px solid #fff;
    background: #fff;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    position: absolute;
    top: -80px;
    right: 15px;
    transition: ease all 0.25s;
    cursor:pointer;
}
section.testimonials .testimonials-slider .slick-arrow.slick-prev {
    right: 70px;
}
section.testimonials .testimonials-slider .slick-arrow:before{
    position: absolute;
    content: '\f054';
    font-size: 15px;
    font-family: 'Font Awesome 5 Free';
    z-index: 99;
    font-weight: 900;
    color: #363636;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: ease all 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3px 3px 0 0;
}
section.testimonials .testimonials-slider .slick-arrow.slick-prev:before {
    content:'\f053';
}
section.testimonials .testimonials-slider .slick-arrow:hover {
    background: transparent;
}
section.testimonials .testimonials-slider .slick-arrow:hover:before{
    color: #fff;
}
section.testimonials .testimonials-slider .item{
    background:#fff;
    padding:100px 50px;
    margin:15px;
    border-top-left-radius:35px;
    position:relative;
    z-index:1;
    overflow:hidden;
    border:1px solid #ddd;
    outline:none;
}
section.testimonials .testimonials-slider .item:before{
    position:absolute;
    content:'';
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-1;
    background:url(../images/testi-item-bg.jpg);
    transition:ease all 0.25s;
    opacity:0;
}
section.testimonials .testimonials-slider .item:after{
    position:absolute;
    content:'“';
    right:15px;
    top: 0;
    color: rgb(241, 241, 241);
    font-size: 180px;
    font-family: "Poppins";
    line-height: 1;
    text-align: left;
    height: 180px;
    width: 180px;
    text-align: right;
    z-index: -1;
}
section.testimonials .testimonials-slider .item.slick-current:before{
    opacity:1;
}
section.testimonials .testimonials-slider .item.slick-current:after{
    color:#0018f8;
}
section.testimonials .testimonials-slider .item .content p {
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1.714;
    text-align: left;
}
section.testimonials .testimonials-slider .item .name-rating-box {
    position:absolute;
    bottom:0;
    left:0;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    background:#363636;
    display:flex;
    padding:10px 25px;
    justify-content:center;
    align-items:center;
    transition:ease all 0.25s;
}
section.testimonials .testimonials-slider .item.slick-current .name-rating-box{
    background:#0018f8;
}
section.testimonials .testimonials-slider .item .name-rating-box .name h3{
    margin: 0;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 2;
    letter-spacing:1px;
    position:relative;
    padding-right:20px;
}
section.testimonials .testimonials-slider .item .name-rating-box .name h3{
    position:relative;
    padding-right:20px;
}
section.testimonials .testimonials-slider .item .name-rating-box .name h3:before{
    position:absolute;
    content:'';
    right:10px;
    top:0;
    bottom:0;
    margin:auto;
    height:50%;
    width:1px;
    background:#fff;
}
section.testimonials .testimonials-slider .item .name-rating-box .rating i{
    font-size: 12px;
}
section.testimonials .testimonials-slider .item .name-rating-box .rating i:before {
    color: #fff;
    margin: 0 -2px;
}
section.testimonials .testimonials-slider .item .name-rating-box .rating i.checked:before {
    color: #fbb637;
}
section.logo-sect {
    padding: 80px 0;
}
section.logo-sect .logo-slider .item {
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    outline: none;
    margin-bottom: 115px;
}
section.logo-sect .logo-slider .item .desc {
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    text-align: center;
}
section.logo-sect .logo-slider .item .desc h3{
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(208, 208, 208);
    text-decoration: underline;
    line-height: 1;
    text-align: center;
    transition:ease all 0.25s;
}
section.logo-sect .logo-slider .item.slick-current .desc h3{
    color:#0018f8;
}
section.logo-sect .logo-slider ul.slick-dots {
    display: flex;
    justify-content: center;
}
section.logo-sect .logo-slider ul.slick-dots li button {
    font-size: 0;
    width: 10px;
    height:10px;
    margin: 5px;
    border-radius: 100%;
    border: none;
    background: #efefef;
    transition: ease all 0.25s;
}
section.logo-sect .logo-slider ul.slick-dots li.slick-active button {
    background: #0018f8;
}

/*My Account Css*/
.accountCol {
    max-width: 45%;
    box-shadow: 0px 6px 6px 5px #e3e3e3;
    margin: 0px 27px;
    border-radius: 80px 0px 80px 0px;
    padding: 0px 40px 20px 40px;
}

.loginForm .nav-tabs {
    margin-bottom: 15px;
}
.loginForm .sign-with {
    margin-top: 25px;
    padding: 20px;
}
.loginForm div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
#signupbox,#loginbox {
    max-width: 100%;
}
.loginFormSec {
    padding:100px 0px;
}
.loginFormSec label{
     max-width: 100%;
}
#loginform label {
    max-width: 100%;
    padding-left: 0px;
}
.loginSec {
    display: flex;
    align-items: center;
}
.loginFormSec .accountCol input {
    border-radius: 40px !important;
    background: #e8f0fe;
}
.loginFormSec .loginGroup {
    margin-bottom: 25px
}
.dynamicHeading {
    font-size: 32px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.906;
    text-align: left;
    margin: 0;
    margin-bottom: 30px;
}

.getBtn {
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
    padding: 15px 35px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    line-height: 1;
    transition: ease all 0.25s;
}
.getBtn:hover {
    background: rgb(0 24 248);
    color: #fff;
}
/*My Account Css*/



footer.footer {
    background: #f1f1f1;
    padding: 25px 0 0;
}
footer.footer .footer-top .row > .col-md-4,
footer.footer .footer-bottom > .row > .col-md-4 {
    border-right: 1px solid #ddd;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer.footer .footer-top {
    border-bottom: 1px solid #ddd;
}
footer.footer .footer-top .footer-logo {
    max-width: 60%;
    margin-bottom: 25px;
}
footer.footer .footer-top .footer-about-desc p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1.714;
    text-align: left;
    max-width: 90%;
}
footer.footer .footer-bottom-right ,
footer.footer .footer-top .footer-links {
    padding: 50px 0 0 40px;
}
footer.footer .heading h3 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(0, 24, 248);
    line-height: 1.222;
    font-weight:700;
}
footer.footer ul li a{
    position:relative;
    padding-left:15px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    font-weight:500;
    line-height: 1.875;
    transition:ease all 0.25s;
}
footer.footer ul li a.active,
footer.footer ul li a:hover{
    color: rgb(0 24 248);
}
footer.footer ul li a:before{
    position:absolute;
    content:'\f054';
    left:0;
    top:0;
    bottom:0;
    font-size:12px;
    line-height:12px;
    height:12px;
    margin:auto;
    font-family:"Font Awesome 5 Free";
    font-weight:900
}
footer.footer .footer-bottom .bottom-links ul li {
    max-width: 50%;
    float: left;
    display: inline-block;
    width: 100%;
}

footer.footer .footer-bottom-right .desc p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1.571;
    font-weight:500;
}
footer.footer .footer-bottom-right form .field-box{
    width: calc(100% - 50px);
    display:inline-block;
}
footer.footer .footer-bottom-right form .field-box input{
    border: none;
    padding: 5px 10px;
    width:100%;
    outline:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #e3e3e3;
}
footer.footer .footer-bottom-right form .btn-box{
    width: 40px;
    display:inline-block;
    height: 40px;
    margin-left: -5px;
}
footer.footer .footer-bottom-right form .btn-box button{
    border: none;
    padding: 5px;
    width:100%;
    height:100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #0018f8;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.375;
    cursor:pointer;
    transition:ease all 0.25s;
}
footer.footer .footer-bottom-right form .btn-box button:hover{
    background:#363636;
}
footer.footer .footer-bottom-right .social-links ul {
    text-align:right;
}
footer.footer .footer-bottom-right .social-links ul li{
    display:inline-block;
    width:fit-content;
    width:-webkit-fit-content;
}
footer.footer .footer-bottom-right .social-links ul li a{
    padding:0;
    font-size:18px;
    margin-right:10px;
}
footer.footer .footer-bottom-right .social-links ul li a:before{
    display:none;
}
footer.footer .copyright{

}
footer.footer .copyright {
    background: #e3e3e3;
    padding:15px 0;
}
footer.footer .copyright .row {
    align-items: center;
}
footer.footer .copyright p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(54, 54, 54);
    line-height: 1;
    margin:0;
}
footer.footer .copyright p a{
    color:#0018f8;
    transition:ease all 0.25s;
}
footer.footer .copyright p a:hover{
    color: #363636;
}
footer.footer .copyright .card-img{
    width:80%;
    margin:auto;
    margin-right:0;
}




.hidden,
.disabled{
    display:none;
}

@media screen and (min-width: 1250px){
    .container{
        max-width: 1240px;
    }
}



